APP_NAME=
APP_LOGO=
APP_FAVICON=
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost


#THEME_MIN_DAYS_BEFORE_MEETING=
DEFAULT_WEEKDAY=Monday

#max. Dauer der Besprechungen in Minuten
#MAX_DURATION=

#Erinnerung vor Ablauf von Aufgaben in Tagen
#REMIND_TASK=

#Dauer für die Möglichkeit Protokolle zu bearbeiten
#EDITABLE_TIME=

#Vertretungstage anzeigen
#Show_Days=
#BACKGROUND_IMAGE=

#MAX_FILE_SIZE=
#Max. Dateigröße für Uploads



#URL ElternInfoBoard für Kiosk-Weiterleitung
URL_ELTERNINFO=


LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

#Datenbank für Import von ElternInfoBoard
DB_CONNECTION2=elterninfoboard
DB_HOST2=127.0.0.1
DB_PORT2=3306
DB_DATABASE2=
DB_USERNAME2=
DB_PASSWORD2=

#Maildomains, welche aus dem ElternInfoBoard importiert werden
MAIL_DOMAIN=
MAIL_DOMAIN2=

Content_Security_Policy="frame-ancestors self"
X_Frame_Options=

MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME="${APP_NAME}"


VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=

SENTRY_LARAVEL_DSN=


BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

ENABLE_SAML2=false

Show_Days=3
BACKGROUND_IMAGE="calkboard.jpg"

SAML2_ENABLE=false
SAML2_BUTTON_TEXT="SSO"
SAML2_idp1_IDP_ENTITYID=
SAML2_idp1_IDP_SSO_URL=
SAML2_idp1_IDP_SL_URL=
SAML2_idp1_IDP_x509=
SAML2_idp1_SP_x509=
SAML2_idp1_SP_PRIVATEKEY=
