.word-wrap{
word-wrap: break-word;
}

.menu-dark {
    color: #dcdcdc;
    background: #2C303B;

}

.sidebar .nav li>a {
    opacity: 1;
}
.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.border-left-10{
    border-left: 10px solid #17a2b8!important
}

@media (max-width: 767.98px) {
    .card-columns {
        column-count: 1;
        column-gap: 1rem;
    }
}
@media (min-width: 768px) {
    .card-columns {
        column-count: 1;
        column-gap: 1rem;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 2;
        column-gap: 1rem;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        column-count: 3;
        column-gap: 1rem;
    }
}

