.word-wrap{
word-wrap: break-word;
}

.menu-dark {
    color: #dcdcdc;
    background: #2C303B;

}

.sidebar .nav li>a {
    opacity: 1;
}
.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.border-left-10{
    border-left: 10px solid #17a2b8!important
}

.card-columns {
    @include media-breakpoint-only(md) {
        column-count: 2;
    }

    @include media-breakpoint-only(lg) {
        column-count: 3;
    }
    @include media-breakpoint-only(xl) {
        column-count: 4;
    }
}
