body {
    min-height: 75vh;
}

.h-100{
    min-height: 100vh;
}

.content {
    min-height: 75vh;
}

.autologouttimer {
    position: relative;
    margin: 0 auto;
    padding: 3px 0;
    width: 275px;
    height: 20px;
    background-color: transparent;
    text-align: center;
    -webkit-box-shadow: inset -2px -2px 0px 0px rgba(250,250,250,0.75);
    -moz-box-shadow: inset -1px -1px 0px 0px rgba(250,250,250,0.75);
    box-shadow: inset -1px -1px 0px 0px rgba(250,250,250,0.75);
    background-color: rgb(143, 143, 143);
    border-radius: 15px;
}

.color-blue {
    background-color: #00bbff;
}

.color-red {
    background-color: #ea8181;
}

.color-green {
    background-color: #3CB878;
}

.color-yellow {
    background-color: #f2f291;
}

.color-purple {
    background-color: #bf8bed;
}

.color-orange {
    background-color: #efba64;
}

.progressbar {
    float: left;
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 2px;
    width: 263px;
    height: 17px;
    border: 0px;
    border-radius: 15px;
}

.autologouttimer span {
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
    color: #FFF;
    font-size: 12px;
    line-height: 12px;
    position: relative;
}

#progressbar-css {
    /* Change time here to make the animation longer */
    -webkit-animation: logouttiming 60s normal linear;
    -moz-animation: logouttiming 60s normal linear;
    animation: logouttiming 60s normal linear;
}

@-webkit-keyframes logouttiming {
    0% {
        width: 263px;
    }
    100% {
        width: 0;
    }
}

@-moz-keyframes logouttiming {
    0% {
        width: 263px;
    }
    100% {
        width: 0;
    }
}

@keyframes logouttiming {
    0% {
        width: 263px;
    }
    100% {
        width: 0;
    }
}
