.floating-timer{
    z-index: 5;
    position: fixed;
    top: 70px;
    right: 30px;
    cursor: pointer;
    background: #bfbcbc;
    border-radius: 50%;
    min-width: 60px;
    width: 100px;
    min-height: 60px;
    box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.6);
    transition: all ease-in-out 0.3s;
}
.floating-timer:hover {
    background: #fff;
}

.floating-timer span {
    text-align: center;
    line-height: 60px;
    font-size: 18px;
    color: #139e00;
    opacity: 1;
    transition: opacity 0.3s;
    position: absolute;
    left: 10%;
}


.floating-timer-sub{
    background-color: #721c24;
}
.floating-timer-sub span {
    color: #fff;
    font-size: 16px;
}


.timerDiv {
    display: inline-block;
    line-height: 1;
    padding: 20px;
    font-size: 20px;
}

span.timerSpan {
    display: block;
    font-size: 15px;
    color: black;
}

#days {
    font-size: 30px;
    color: #db4844;
}
#hours {
    font-size: 30px;
    color: #f07c22;
}
#minutes {
    font-size: 30px;
    color: #1c1df6;
}
#seconds {
    font-size: 30px;
    color: #abcd58;
}
